.post__card {
  @apply flex flex-col p-6 rounded-lg border border-solid border-border-color bg-card-background-color;

  &__image {
    @apply object-cover rounded-lg;

    &__wrapper {
      @apply relative aspect-[16/9] rounded-lg shrink-0;
    }
  }

  &__body {
    @apply mt-4 flex flex-col h-full;

    h3 {
      @apply md:mt-6;
    }
  }

  &__description {
    @apply text-xl my-4 line-clamp-4;
  }

  &__tag {
    @apply relative text-sm inline-flex items-center justify-center z-[1] px-4
    leading-6 h-7 rounded-[14px]
    text-color-dark bg-transparent border border-solid border-[#4d61ff]
    transition-all before:inset-0 before:-z-[1] before:rounded-[14px]
    before:absolute before:opacity-[0.1] before:transition-all
    before:bg-[#4d61ff] before:w-full before:h-full mb-2 hover:before:opacity-[0.2];
  }

  &__footer {
    @apply flex items-center gap-4 mt-auto;
  }

  &__authors {
    @apply flex items-center relative;

    @for $i from 1 through 9 {
      > :nth-child(#{$i}) {
        z-index: 10 - $i;
      }
    }
  }

  &__author {
    @apply -mr-2 relative p-1 bg-body-background-color rounded-full before:absolute before:inset-0
    before:bg-gradient-primary before:rounded-full before:opacity-0
    before:transition-all hover:before:opacity-100;

    img {
      @apply rounded-full object-cover relative;
    }
  }

  &__read__time {
    @apply flex items-center gap-2;
  }
}
