body {
  background-color: var(--body-background-color);
  color: var(--text-color-main);

  &.menu-is-open {
    overflow-y: hidden;

    .g-nav {
      @apply bg-body-background-color;
    }
  }
}

input {
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.gradient-color-primary {
  stop-color: var(--gradient-color-primary);
}

.gradient-color-secondary {
  stop-color: var(--gradient-color-secondary);
}

