body {
  background-color: var(--body-background-color);
  color: var(--text-color-main);
}

.gradient-color-primary {
  stop-color: var(--gradient-color-primary);
}

.gradient-color-secondary {
  stop-color: var(--gradient-color-secondary);
}

