/* Typography classes */
h1, h2, h3, h4, h5, h6 {
  @apply text-color-dark font-bold leading-[1.3];
}

h1 {
  font-size: var(--heading-1);
}

h2 {
  font-size: var(--heading-2);
}

h3 {
  font-size: var(--heading-3);
}

h4 {
  font-size: var(--heading-4);
}

h5 {
  font-size: var(--heading-5);
}

h6 {
  font-size: var(--heading-6);
}

.section-title {
  @apply text-color-dark font-bold leading-[1.3] text-heading-3;
}
