@import "theme";
@import "variables";

:root {
  @include common-vars;
  @include theme-light;
  --font-title: Inter;
  --ghost-accent-color: #215dee;
  --gradient-color-secondary: #b61cff;
}

[data-theme="dark"] {
  @include common-vars;
  @include theme-dark;
}

@import "base";
@import "typography";
@import "components/button";
